@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white transition-colors duration-300;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Kukuri Animation Effect */
.kukuri-wrapper {
  position: relative;
  display: inline-block;
  color: #1f2937;
  /* Gray-900 */
  overflow: hidden;
}

.dark .kukuri-wrapper {
  color: #ffffff;
}

.kukuri-wrapper::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 100%;
  top: 50%;
  margin-top: -10px;
  right: 0;
  background: #3b82f6;
  /* Blue-500 */
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.kukuri-wrapper:hover::after {
  transform: translate3d(100%, 0, 0);
}

.kukuri-wrapper::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #3b82f6;
  /* Hover text color */
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.kukuri-wrapper:hover::before {
  width: 100%;
}